{% extends 'base.twig' %}

{% block content %}
<div class="container">
	<div class="starter-template">
		<h1>Data Generator</h1>
		<table class="table table-hover table-striped">
			<thead>
				<th>No</th>
				<th>Surat Laporan</th>
				<th>Tersangka</th>
				<th>Korban</th>
				<th>TKP</th>
			</thead>
			<tbody>
				{% for data in laporan %}
				<tr>
					<td>{{ loop.index }}</td>
					<td>{{ data.laporan }}</td>
					<td>{{ data.tersangka }}</td>
					<td>{{ data.korban }}</td>
					<td>{{ data.tkp }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}